[rebase]
	abbreviateCommands = true
	autoSquash = true
#[help]
#	autocorrect = 2 #in tenths of a second

[user]
	email = peter.kehl@gmail.com
	name = Peter Kehl
[credential]
	username = peter-kehl
	helper = store

# Not recommended, but I use it because of per-partition sub-sub-config
[includeIf "gitdir:/"]
    path = /.gitconfig
[pull]
	rebase = true
[init]
	defaultBranch = main
[protocol "file"]
	allow = always
