/*@namespace url(http://www.w3.org/1999/xhtml);
*/

@-moz-document url-prefix(about:blank) {*{background-color:#000000;}}

/* or: @-moz-document domain(...) */
@-moz-document url(https://keep.google.com/) {
  div#ognwrapper, div#ognwrapper * {
        background-color: transparent !important;
  }
  body, header, * {
        min-width: auto !important;
	width: auto !important;
  }
}
@import url("javascript:'*{ background-color: blue !important;}'");

/* Default font on various screens. Firefox takes full width of the screen (unless noted otherwise).
 * However, two alternatives per screen:
 * without a Sidebar, and with a Sidebar. Similar rules for the Tabs and Toolbar are in userChrome.css.
 * The following "font-size" applies to user content, and also to Sidebars. */
/* High-resolution laptop: 2560px, Sidebar */
@media (min-width: 1450px) and (max-width: 2560px), /* content */
@media (min-width: 400px ) and (max-width:  700px),  /* sidebar */
@media (min-width: 700px ) and (max-width:  900px)  /* filling a gap between the rules */
{
  * {
    font-size: 24pt !important;
  }
}

/* Small-resolution VGA: 1440px, Sidebar */
@media (min-width: 900px) and (max-width: 1440px),
@media (max-width: 400px) /* sidebar */
{
  * {
    font-size: 13pt !important;
  }
}

