@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
#main-window:not([customizing]) #navigator-toolbox:not(:focus-within):not(:hover) {
  margin-top: 0px;
}

/* Thanks to https://superuser.com/questions/1276800/customize-the-maximum-width-of-the-firefox-sidebar */
#sidebar {
max-width: none !important;
min-width: 0px !important;
}

#sidebar html, #sidebar body, #sidebar, #sidebar *,
#sidebar page stack#webext-panels-stack,
#webext-panels-stack, #webext-panels-browser
{
    font-size: 40pt !important;
}



/* https://support.mozilla.org/en-US/questions/926424 */
#urlbar .textbox-input-box { font-size:12pt !important; }

#navigator-toolbox,
#TabsToolbar,
#TabsToolbar[moz-collapsed="true"] {/*
  visibility: visible !important;
  display:-moz-box !important;;
  background-color: blue !important;/**/
}

/* Hide Navigation bar when NOT in Full Screen. To show it, Ctrl+L doesn't work. Instead, hover
 * the mouse over the Tabs bar, and that shows the Navigation bar, too.
 * */
/* NO: #main-window:not([customizing]) #nav-bar:not(:focus-within):not(:hover):not( [inFullscreen] ) {*/
/* However, while this worked, it upset Firefox: Address bar didn't show URL of restored tabs as you clicked from one tab to another.
 * Even worse, address bar didn't work well even in Full Screen mode, when this shuld have no effect.
#main-window:not([customizing]):not( [inFullscreen] ) #navigator-toolbox:not(:focus-within):not(:hover) #nav-bar {
  visible: false !important;
  visibility: hidden !important;
  display: none !important;
}/**/

/* Hide Tabs bar when NOT in Full Screen.
 * However, it closes arbitrary tabs, and clears pinned tabs!
 * Luckily, tabs are re-opened (and pinned tabs are re-loaded) if you disable this and restart Firefox. */
/*#TabsToolbar:not( [inFullscreen] ) {
  visible: false !important;
  visibility: hidden !important;
  display: none !important;
}/**/
